#home{
    background: url(images/fonsramkami.JPEG) no-repeat;
    background-size: 100%;
    font-family: 'Sen', sans-serif;
    width: auto;
    height: 850px;
}
.main{
    padding-top: 150px;
    width: auto;
    height: 500px;
    text-align: center;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}
.ex{
    font-weight: 400;
}



header{
    margin: 0;
    padding: 0;
}
#navbar{
    position: fixed;
    margin:-8px;
    width: 1920px;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    list-style-type: none;
   
}
#navbar li{
    margin-left: 40px;
    font-size: 17px;
    display: inline;
    padding: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}


#about{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    height: 850px;
    width: auto; 
}
.txte{
    font-size: 30px;
}
.text{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    font-size: 23px;
    padding-top: 50px;
}


.phelps{
    width: 80%;
}

.katie{
    margin-top: 50px;
}

.block{
    margin-left: 150px;
    width: 80%;
}

.footer
{
    margin-top: 1000px;
    width: auto;
    height: 500px;
}

.katie img{
    margin-right: 50px;
}



